/* slider part */
.slider {
    margin-bottom: 80px;
}

/* navigation bar styles */
.navbar-brand {
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.navbar-nav .nav-link {
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* carousel styles */
.carousel-caption h5 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption a {
    background-color: #FFFFFF;
    color: #3F87F5;
    padding: 6px 30px;
}

.carousel-indicators [data-bs-target] {
    width: 70px;
}

.carousel-control-prev-icon {
    visibility: hidden;
}

/* moments part styles */
.moments {
    margin-bottom: 100px;
}

.moments h1 {
    color: #0A0826;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
}

.moments p {
    color: #6C6C6C;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

.moments a {
    padding: 12px 30px;
    background-color: #3F87F5;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

/* package styles start form here */

/* tosat styles */
.toast {
    background-color: #FFFFFF;
    border-left: 5px solid blue;
}

.toast-container {
    margin-top: 120px;
}

.toast-body {
    padding-left: 70px;
    font-size: 15px;
}

.toast .fa-gift {
    color: rgba(0, 124, 255, 0.63);
    font-size: 20px;
    margin-right: 10px;
}

/* tosat styles */

.our-package {
    margin-bottom: 50px;
}

.our-package h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #0A0826;
    font-family: 'Poppins', sans-serif;
}

.our-package h1 {
    color: #231D4F;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    font-family: 'Poppins', sans-serif;
}

.our-package h4 {
    color: #231D4F;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    font-family: 'Poppins', sans-serif;
}

.our-package p {
    color: #848199;
}

.our-package .form-check-label {
    color: #848199;
}

.our-package a {
    padding: 6px 40px;
    background-color: #F496D1;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 24px;
    color: #3F87F5;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}

.package-1 {
    background-color: #3F87F5;
    border-radius: 26px;
    height: 380px;
    box-shadow: 2px 10px 2px #3F87F5;
    padding-top: 0px;

}

.package-1 h1 {
    color: white;
}

.package-1 h4 {
    color: white;
}

.package-1 p {
    color: white;
}

.package-1 .form-check-label {
    color: white;
}

.package-1 a {
    background-color: white;
}

.package-1 .badge {
    position: relative;
    top: -15px;
    left: 215px;
}

/* package styles start form here */

/* happy part start from here */
.happy {
    margin-bottom: 50px;
}

.happy h1 {
    color: #0A0826;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    font-family: 'Poppins', sans-serif;
}

.happy .borders {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.borders p {
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
}

.borders h5 {
    color: #0C1920;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.borders span {
    color: #747474;
}

/* question part start from here */
.question {
    margin-bottom: 50px;
}

.question h1 {
    color: #0D0925;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
}

/* footer part start form here */
.footer {
    background-color: #0B0D17;
    height: 280px;
}

.footer img {
    height: 50px;
}

.footer .google {
    margin-top: 10%;
}

.footer a {
    text-decoration: none;
    color: #cf682d;
}

/* media query for mobile device  */
@media only screen and (max-width:576px) {
    .carousel-item img {
        height: 80vh;
        object-fit: cover;
    }

    .carousel-caption {
        margin-top: 50px;
    }

    .carousel-caption h5 {
        font-size: 19px;
        line-height: 30px
    }

    .carousel-caption p {
        text-align: center;
    }

    .carousel-control-prev-icon {
        visibility: visible;
    }

    .navbar-brand {
        font-size: 12px;
        line-height: 24px;
    }

    .moments-1 {
        flex-direction: column-reverse;
    }

    .right-column h1 {
        font-weight: 700;
        font-size: 19px;
        line-height: 60px;
    }

    .package-1 .badge {
        position: relative;
        top: -4%;
        left: 88%;
    }

    .happy h1 {
        font-weight: 600;
        font-size: 19px;
        line-height: 28px;
    }

    .borders {
        margin-bottom: 20px;
    }

    .question h1 {
        color: #0D0925;
        font-weight: 600;
        font-size: 19px;
        line-height: 50px;
        font-family: 'Poppins', sans-serif;
    }

    .question-1 {
        flex-direction: column-reverse;
    }

    .footer .google {
        margin-top: 25%;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}